@charset "UTF-8";

/* 빠른 시작 컨텐츠 영역 */
.content_wrapper{
	height: 100vh;
    position: relative;
}

/* 빠른 시작 컨텐츠 영역 - 좌측 영역*/
.content_wrapper .content_container{
    margin-left: 3%;
    font-size: 3.3vmax;
    font-weight: bold;
    font-family: serif;
    height: auto;
    width: 54vmax;
}
.content_wrapper .content_container > .content_item {
	margin-bottom: 4vh;
}
.content_wrapper .content_container > *:first-child{
	transition: all 3s;
	visibility: hidden;
	opacity: 0;
}
.content_wrapper .content_container.opening_end *{
	transition: none;
}
.content_wrapper .content_container *{
	transition: all 3s;
	visibility: hidden;
	opacity: 0;
}

.content_wrapper .get_start_wrapper{
    position: absolute;
    height: inherit;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content_wrapper .get_start_wrapper .get_start_container{
	padding: 5px;
    transition: all 3s, width 0.1s cubic-bezier(0.47, 0.48, 1, 0.85), height 3s cubic-bezier(0.4, 0.32, 0.66, 0.92);
	overflow: hidden;
	width: 1px;
	height: 1px;
}

.content_wrapper .get_start_wrapper .get_start_container.start{
	background: linear-gradient(to bottom, #EAEAEA -274%, #2B2B2B 96%, #7c0000 99%);
	display:flex;
	flex-wrap: wrap;
	overflow-wrap: anywhere;
	overflow-y: auto;
	overflow-x: clip;
	align-items: center;
}
.content_wrapper .get_start_wrapper .get_start_container.startEnd{
	transition: none;
}
.content_wrapper .get_start_wrapper .get_start_container.startEnd .content_container > * {
	transition: none;
}

.content_wrapper .get_start_wrapper .get_start_container .get_start{
	color: white;
	border: solid;
    border-radius: 100%;
    padding: 5px;
	background: linear-gradient(to bottom, #EAEAEA -274%, #2B2B2B 96%, #7c0000 99%);
}

/* 빠른 시작 컨텐츠 영역 - 우측 영역*/
.content_wrapper .create_room_wrapper{
	flex: 1 1 30%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	overflow-wrap: anywhere;
	/*position: relative;*/
	height: 60vh;
	align-items: center;
}

.content_wrapper .create_room_wrapper .create_room_container{
	width: 100%;
	height: 100%;
	visibility: hidden;
	opacity: 0;
	transition: all 1s, opacity 3s;
	left: 100%;
	overflow: hidden;
	overflow-wrap: normal;
	transform: translate(100%, 0);
	font-size: 2vh;
}

.content_wrapper .create_room_wrapper .create_room_container.start{
	visibility: visible;
	opacity: 1;
	left: 0%;
	overflow: visible;
	transform: translate(0, 0);
}

/* 빠른 시작 컨텐츠 영역 - 우측 영역 - 자식요소 공통 영역 */

.create_room_container form > div{
	width: 70%;
}

.create_room_container > div, .create_room_container form{
	width: 100%;
	display: flex;
	height: 100%;
	justify-items: center;
	flex-direction: column;
	gap: 3vh;
	align-items: center;
	justify-content: center;
}
.create_room_container input, .create_room_container button, .create_room_container select{
	background-color: dimgray;
	font-size: 2vmax;
}
.create_room_container input, .create_room_container select{
    width: 100%;
    border: none;
    border-bottom: solid 1px #80008059;
    border-left: ridge 1px #ffffff0f;
    background: none;    
}
.create_room_container button{
	width: 100%;
	border: outset #757575;
	color: #f0f8ffad;
}
.create_room_container input::placeholder{
	color: #f0f8ffad;
}
.create_room_container label{
	color: #a9a9a985;
	font-weight: bold;
}
.create_room_container .find_wrapper{
    display: flex;
    justify-content: space-around;
}
.create_room_container .find_wrapper a{
    color: hsl(206,100%,52%);
    text-decoration: underline;
}

.create_room_container ul{
	height: 100%;
	overflow-y: auto;
	width: 70%;
}
.create_room_container ul img{
	width: 5vw;
}
.create_room_container ul li .workspace_list_container{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.create_room_container ul li .workspace_list_container > *{
	width: 16%;	
}
.create_room_container ul li button{
	width: initial !important;
}
/* 최하단 프로젝트 문의 및 인력 모집 영역 */
.request_list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 2rem;
}

.request_list .request_item:not(:last-child){
	margin-right:10vw;
}

.request_title{
	font-size: 3rem;
}

.request_description{
	font-size: 1.5rem;
}

.request_link{
	color: black;
    font-size: 1.5rem;
}

.background_slide{
	height: 26.5vh;
    background-image: url(./../../../image/bg_bgSlide.jpg);
    animation: 100s background_slide_horizontal infinite linear;
    background-size: auto 100%;
    margin-bottom: 1%;
}
@keyframes background_slide_horizontal{
	0% {
	    background-position: 0 0;
	}
	100% {
	    background-position: -3500px 0;
	}
}
#create_workspace_form, #sign_up_form{
	/*transform: translate(0, -2.5vmax);*/
}