<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
	
	<div layout:fragment="content">
		<article data-info="빠른 시작">
			<div class="content_wrapper">
				<div class="get_start_wrapper">
					<div class="get_start_container">
						<!-- 
						<button type="button" class="get_start">Get Start</button>
						-->
						<div class="content_container">
							<div class="content_item">
								More Beautiful
							</div>
							<div class="content_item">
								More Classy
							</div>
							<div class="content_item">
								More Reactive
							</div>
							<div class="content_item">
								Makes Your Work
							</div>
							<div class="content_item ">
								BIRD PLUS IS
							</div>
						</div>
						<div class="create_room_wrapper">
							<div class="create_room_container">
				    			
							</div>
						</div>
					</div>
				</div>
			</div>
		</article>
		<article data-info="설명">
		
		</article>
		<article data-info="">
			<div class="request_list">
				<div class="request_item">
					<p class="request_title">CREATE<br>YOUR FUTURE</p>
					<p class="request_description">
						함께 꿈을 만들어나가실 분을 기다립니다.<br>
						당신이 가진 크리에이티브하고 스마트한 생각을<br> 
						들려주세요. <b>RADCNS</b>에서 더 나은 내일을 함께<br>
						만들어나갈 분을 기다리고 있습니다. 
					</p>
					<a class="request_link" href="https://radcns.com/careers">CAREERS</a>
				</div>
				<div class="request_item">
					<p class="request_title">START WORK<br>WITH RADCNS</p>
					<p class="request_description">
						어떤 서비스를 생각하고 계신가요?<br>
						<b>RADCNS</b>는 항상 열려있습니다. 고민하고 있는<br>
						프로젝트가 있다면 주저하지 말고 문의해주세요.<br>
						함께 고민하고 해결해 나가겠습니다.
					</p>
					<a class="request_link" href="mailto:sales@radcns.com">SEND AN EMAIL</a>
				</div>
			</div>
		</article>
		<article>
			<div class="background_slide"></div>
		</article>
	</div>
</html>