<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

    <!-- Footer -->
    <footer th:fragment="footerFragment" style="background-color: aliceblue;">
    	<div class="footer_info_wrapper">
	    	<div>
	    		<ruby>Address<rp>(</rp><rt>RADCNS</rt><rp>)</rp></ruby>
	    		<ruby>Company<rp>(</rp><rt>서울시 금천구 다산디지털1로 131 BYC하이시티 A동 9층</rt><rp>)</rp></ruby>
	    	</div>
	    	<div>
	    		<ruby>Project Request<rp>(</rp><rt>sales@radcns.com</rt><rp>)</rp></ruby>
	    		<ruby>Tel<rp>(</rp><rt>02-6947-5900</rt><rp>)</rp></ruby>
	    		<ruby>Fax<rp>(</rp><rt>02-6947-5914</rt><rp>)</rp></ruby>
	    	</div>
    	</div>
    	<div class="footer_info_wrapper">
    		<a th:href="@{mailto:sales@radcns.com}" class="footer_btn btn_inquiry">프로젝트 문의</a>
    		<a th:href="@{/files/intro_2022.pdf}" download="라드씨엔에스회사소개_2022" class="footer_btn btn_intro">회사소개서</a>
    	</div>
    </footer>

</html>