<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <!-- Head -->
    <th:block th:fragment="headFragment">
        <head>
        	<title>testHead</title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <!--/* css */-->
       		<link th:href="@{css/common.css}" rel="stylesheet" />
       		<link th:href="@{css/layer.css}" rel="stylesheet" />
     		<link th:href="@{css/fragments/footer.css}" rel="stylesheet" />
			<link th:href="@{css/fragments/header.css}" rel="stylesheet" />
			<link th:href="@{manifest.json}" rel="manifest">
			<script type="text/javascript" th:src="@{js/common.js}"></script>
			
			<th:block th:each="resourcesName : ${resourcesNameList}">
				
				<link th:href="@{css/content/{cssName}.css(cssName=${resourcesName})}" rel="stylesheet"/>
	       		<script defer type="text/javascript" th:src=@{js/content/{jsName}.js(jsName=${resourcesName})}></script>
       		
			</th:block>
			
        </head>
    </th:block>
</html>