<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <!-- Topbar -->
	<th:block th:fragment="headerFragment">
	    <header>
		    <nav class="right_top_menu" th:fragment="topbarFragment">
		    	<ul>
		    		<li>
		    			<a th:href="@{https://bird-plus-s3-public.s3.ap-northeast-2.amazonaws.com/update/greased-lightning-chat+Setup+0.1.3.exe}" download="greased-lightning-chat-Setup.exe" class="non_color">Download</a>
		    		</li>
		    	</ul>
		    </nav>
		    <div id="header_title">
		    	<div>
		    		<h2>
			    		<a th:href="@{/}" class="non_color">Grease Lightning Chat</a>
		    		</h2>
		    	</div>
		    </div>
		    <button type="button" id="login" style="background: none;outline: none;border: none;">Login</button>
		    <script type="text/javascript" th:inline="javascript">
		    	const headerController = new class HeaderController{
		    		loginButton = document.querySelector('#login');
		    		loginContainer = Object.assign(document.createElement('div'), {
		    			id:'login_layer',
		    			className:'layer',
		    			innerHTML :`
		    				<form id="fast_login_form" class="login_form">
				    			<div>
				    				<div>
					    				<input type="text" name="id" id="fast_login_id" class="account_name" placeholder="Please enter your ID" autocomplete="username"/>
					    			</div>
					    			<div>
				    					<input type="password" name="password" id="fast_login_password" class="account_password" placeholder="Please enter your password" autocomplete="current-password"/>
					    			</div>
					    			<button type="button" class="login_send">login</button>
					    			<div class='status_text'></span>
				    			</div>
			    			</form>
			    		`
		    		});
		    		

		    		
		    		constructor(){
		    			this.loginEvent(this.loginContainer);
		    			common.outClickElementListener(this.loginContainer, ({oldEvent, newEvent, isMouseOut})=>{
		    				if(isMouseOut && this.loginContainer.isConnected && ! common.isMouseInnerElement(this.loginButton)){
		    					this.loginContainer.remove();
		    				}
		    			})
		    			window.addEventListener('resize', (event) => {
				            if(this.loginContainer){
				            	common.processingElementPosition(this.loginContainer, this.loginButton)
				            }
						})
						common.isLogin(result => {
							if(result.isLogin){
								this.loginContainer.querySelector('.login_send').onclick = '';
	    						this.loginButton.onclick = '';
		    					let img = Object.assign(document.createElement('img'),{
		    						width: '1rem',
		    						src : '/images/user.png'
		    					});
		    					this.loginButton.replaceChildren(img);
		    					common.loginSuccessResolve();
							}
						})
					}
		    		
		    		loginEvent(container, {isContainerLayer = true, loginStartButton = this.loginButton} = {}){
	    				common.loginSuccessPromise.then(()=>{
							if(container == this.loginContainer){
	    						container.remove();
							}
	    				})
	    				if(isContainerLayer){
	    					loginStartButton.onclick = (event) => {
		    					if(container.isConnected){
		    						container.remove();
		    					}else{
		    						document.body.append(container);
			    					common.processingElementPosition(container, loginStartButton)
		    					}
		    				}
	    				}

		    			let [accountName, accountPassword, loginSendButton, statusText] = container.querySelectorAll('.account_name, .account_password, .login_send, .status_text');
						let isClick = false;  
		    			loginSendButton.onclick = (event) => {
							if(isClick){
								return;
							}
							isClick = true;
		    				statusText.textContent = '';
		    				let loading = common.createLoadingRotate();
		    				statusText.replaceChildren(loading);
		    				statusText.style.paddingRight = '100%';
		    				fetch('/login-processing',{
		    				    method:'POST',
		    				    body:JSON.stringify({
		    				    	accountName:accountName.value,
		    				        password:accountPassword.value
		    				    }),
		    				    headers: {
		    				        'Content-Type': 'application/json',
		    				    }
		    				}).then(res=>{
		    					console.log(res);
		    				    return res.json()
		    				}).then(response=> {
		    					isClick = false;

		    					loading.remove();
		    					statusText.style.paddingRight = '';
		    					
		    					let {code, message} = response;
		    					if(code == '00'){
		    						loginStartButton.onclick = '';
		    						this.loginButton.onclick = '';
			    					let img = Object.assign(document.createElement('img'),{
			    						width: '1rem',
			    						src : '/images/user.png'
			    					});
			    					this.loginButton.replaceChildren(img);
			    					common.loginSuccessResolve();
			    					//container.remove();
		    					}else if(message && message != ''){
		    						statusText.textContent = message;
		    					}else {
		    						statusText.textContent = '서버로부터 응답이 없습니다.';
		    					}

		    					statusText.classList.add('shake');
		    					setTimeout(()=>{statusText.classList.remove('shake')},150)
		    					if(isContainerLayer){
		    						common.processingElementPosition(container, loginStartButton)
		    					}
		    				}).catch(error=>{
								isClick = false;
								
								console.error(error);
		    					loading.remove();
		    				});
		    			}
		    			container.onkeydown = (e)=> {
		    				if(e.key != 'Enter'){
		    					statusText.textContent = '';
		    					return;
		    				}
		    				loginSendButton.click();
	    				}
		    		}
		    	}();
		    </script>
	    </header>
    </th:block>
</html>