<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <!-- Topbar -->
	<th:block th:fragment="headerFragment">
	    <header>
		    <nav class="right_top_menu" th:fragment="topbarFragment">
		    	<ul>
		    		<li>
		    			<a th:href="@{/}" class="non_color">Download</a>
		    		</li>
		    	</ul>
		    </nav>
		    <div id="header_title">
		    	<div>
		    		<h2>
			    		<a th:href="@{/}" class="non_color"><ruby>RADCNS <rp>(</rp><rt>BIRD PLUS</rt><rp>)</rp></ruby></a>
		    		</h2>
		    	</div>
		    </div>
		    <button type="button" id="login">Login</button>
		    <script type="text/javascript" th:inline="javascript">
		    	new class HeaderController{
		    		loginButton = document.querySelector('#login');
		    		loginContainer = Object.assign(document.createElement('div'), {
		    			id:'login_layer',
		    			className:'layer',
		    			innerHTML :`
			    			<div>
			    				<div>
				    				<input type="text" name="id" id="account_id" placeholder="Please enter your ID"/>
				    			</div>
				    			<div>
				    				<input type="password" name="password" id="account_password" placeholder="Please enter your password"/>
				    			</div>
				    			<button type="button" id="login_send">login</button>
				    			<div class='status_text'></span>
			    			</div>
			    		`
		    		});
		    		
		    		loginSuccessPromise = new Promise(resolve => {
		    			this.loginSuccessResolve = resolve;
		    		});
		    		
		    		constructor(){
		    			this.loginEvent();
		    			common.outClickElementListener(this.loginContainer, ({oldEvent, newEvent, isMouseOut})=>{
		    				if(isMouseOut && this.loginContainer.isConnected && ! common.isMouseInnerElement(this.loginButton)){
		    					this.loginContainer.remove();
		    				}
		    			})
		    			window.addEventListener('resize', (event) => {
				            if(this.loginContainer){
				            	common.processingElementPosition(this.loginContainer, this.loginButton)
				            }
						})
					}
		    		loginEvent(){
		    			new Promise(resolve=>{
		    				this.loginButton.onclick = (event) => {
		    					if(this.loginContainer.isConnected){
		    						this.loginContainer.remove();
		    					}else{
		    						document.body.append(this.loginContainer);
			    					common.processingElementPosition(this.loginContainer, this.loginButton)
		    					}
		    				}
		    				
			    			let [accountId, accountPassword, loginSendButton, statusText] = this.loginContainer.querySelectorAll('#account_id, #account_password, #login_send, .status_text');
			    			loginSendButton.onclick = (event) => {
			    				statusText.textContent = '';
			    				let loading = common.createLoadingRotate();
			    				statusText.append(loading);
			    				fetch('/loginProc',{
			    				    method:'POST',
			    				    body:JSON.stringify({
			    				    	accountName:accountId.value,
			    				        password:accountPassword.value
			    				    }),
			    				    headers: {
			    				        'Content-Type': 'application/json',
			    				    }
			    				}).then(res=>{
			    					console.log(res);
			    				    return res.json()
			    				}).then(response=> {
			    					
			    					loading.remove();
			    					
			    					console.log(response);
			    					let {code} = response;
			    					if(code == '00'){
			    						this.loginButton.onclick = '';
				    					let img = Object.assign(document.createElement('img'),{
				    						width: '1rem',
				    						src : '/images/user.png'
				    					});
				    					this.loginButton.replaceChildren(img);
				    					this.loginContainer.remove();
			    					}else if(code == 101){
			    						statusText.textContent = '해당 기능에 권한이 없습니다.'
			    					}else if(code == 102){
			    						statusText.textContent = '계정 정보가 잘못되었습니다.'
			    					}else if(code == 103){
			    						statusText.textContent = '계정 정보가 잘못되었습니다.'
			    					}else if(code == 104){
			    						statusText.textContent = '비활성화 된 계정입니다.'
			    					}else if(code == 999){
			    						statusText.textContent = '알 수 없는 오류입니다. 관리자에게 문의하십시오.';
			    					}else{
			    						statusText.textContent = '서버로부터 응답이 없습니다.';
			    					}
			    					statusText.classList.add('shake');
			    					setTimeout(()=>{statusText.classList.remove('shake')},150)
			    					common.processingElementPosition(this.loginContainer, this.loginButton)
			    				}).catch(error=>{
			    					loading.remove();
			    				});
			    			}
			    			this.loginContainer.onkeydown = (e)=> {
			    				if(e.key != 'Enter'){
			    					statusText.textContent = '';
			    					return;
			    				}
			    				loginSendButton.click();
			    				
		    				}
			    			resolve();
		    			})
		    		}
		    	}();
		    </script>
	    </header>
    </th:block>
</html>