@charset "UTF-8";

.layer{
	position: absolute;
}

#login_layer{
	background: #4b4b4b;
	padding: 1%;
    width: 14vw;
    height: 25vh;
    min-width: 300px;
    min-height: 235px;
    max-height: max-content;
}

#login_layer form > *{
	display: grid;
}
#login_layer form > * > *{
	margin-bottom: 11%;
}

#login_layer button{
    border: outset;
    border-color: black;
    font-family: cursive;
}

#login_layer .status_text{
	color: white;
}

#login_layer input{
	width: 100%;
}