<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="height=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Security-Policy" content="">
		<!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
		<link rel="stylesheet" type="text/css" th:href="@{/css/electron_web/common.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/electron_web/header.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/electron_web/workspacePage.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/electron_web/component/simpleOption.css}">	
		<style type="text/css">
		/* 가로 모드 강제 적용 */
		@media( orientation: portrait ){
			html{
				transform: rotate(-90deg);
				transform-origin: top left;
				position: absolute;
				top: 100%;
				left: 0;
			    width: 100vh;
			    height: 100vw;
			}
			body, #container, iframe{
			    width: 100vh;
    			height: 100vw;
			}
		}
		@media screen and (orientation: landscape) {
			html{
			    width: 100vw;
			    height: 100vh;
			}
			body, #container, iframe{
			    width: 100vw;
    			height: 100vh;
			}
		}

		</style>
		<title>Greased Lightning Messenger</title>
	</head>
	<body>
		<div id="container">
			<iframe src="/mobile"></iframe>
		</div>
	</body>
</html>