<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="google-adsense-account" content="ca-pub-9686589206245944">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1.0, viewport-fit=cover">
		<meta name="viewport" content="height=device-height, user-scalable=no, initial-scale=1, maximum-scale=1.0, viewport-fit=cover">
		<meta name="google-adsense-account" content="ca-pub-9686589206245944">
		<meta http-equiv="Content-Security-Policy" content="">
		<!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
		<link rel="stylesheet" type="text/css" th:href="@{/css/electron_web/common.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/electron_web/header.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/electron_web/workspacePage.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/electron_web/component/simpleOption.css}">	
		<title>Greased Lightning Messenger</title>
	</head>
	<body>
		<header-default data-is_no_menu="" data-is_no_search=""></header-default>
		<div id="container">
			<canvas id="renderCanvas"></canvas>
		</div>
	</body>
	<script type="module" th:src="@{/js/electron_web/view/js/dist/workspace3DPageRenderer.js?v=2}" defer="defer"></script>
</html>