<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
	<div layout:fragment="content">
	    <form id="change_password">
	    	<input type="hidden" name="email" th:value="${account.email}"/>
	    	<input type="hidden" name="token" th:value="${token}"/>
	    	<div style="display:grid; justify-content: start;">
		    	<label>New password</label>
		    	<input type="password" name="password" autocomplete="current-password"/>
	    	</div>
	    	<div style="display:grid; justify-content: start;">
		    	<label>New password (again)</label>
		    	<input type="password" name="password_again" autocomplete="current-password"/>
	    	</div>
	    	<div>
		    	<small>
		    		Passwords must contain at least eight characters, including at least 1 letter and 1 number.
		    	</small>
	    	</div>
	    	<div>
		    	<i>
		    		By clicking “Recover Account”, you agree to our terms of service and acknowledge that you have read and understand our privacy policy and code of conduct.
		    	</i>
	    	</div>
	    	<button type="submit">Recover Account</button>
	    </form>
	    <script type="text/javascript">
	   		let {
	   			password, 
	   			password_again: passwordAgain,
	   			email
	   		} = document.forms.change_password;
	   			
	    	document.forms.change_password.onsubmit = (event) => {
	    		event.preventDefault();
	    		fetch('change-password', {
	    			method: 'POST',
	    			headers: {
	    				'Content-Type': 'application/json'
	    			},
	    			body: JSON.stringify({
	    				password: password.value,
	    				passwordAgain: passwordAgain.value,
	    				email: email.value,
	    				token: token.value
	    			})
	    		}).then(response => {
	    			if( ! response.ok){
	    				throw new Error();
	    			}
	    			return response.json();
	    		}).catch(err=>{
	    			console.err(err);
	    		});
	    	}
	    </script>
	</div>
</html>