@charset "UTF-8";

footer{
	display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 1rem;
    flex-wrap: wrap;
    overflow-wrap: anywhere;
    
}
@media( orientation: portrait ){
	footer{
		gap: 2rem;
		flex-direction: column-reverse;
	}
	footer .footer_info_wrapper:last-child {
		display: flex;
	}
}

footer .footer_info_wrapper{
    display: grid;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    align-content: center;
}

footer .footer_info_wrapper > *{
	display: flex;
}

footer .footer_info_wrapper ruby{
	font-size: 0.7rem;
	margin-right: 5rem;
	color: #939393;
	font-weight: 600;
	border-left: ridge;
	padding-left: 4px;
	display: inline;
}

footer .footer_info_wrapper rt{
	font-size: 0.8rem;
	padding-top: 0.5rem;
	display: flex;
	color: black;
}

footer .footer_info_wrapper a{
	padding: 1rem;
    text-align: center;
    color: #222222;
    border-color: #babdbf;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #222222;
    position : relative;
    padding-right : 108px;
}

footer .footer_info_wrapper a.btn_inquiry:after{
    content: '';
    background: url(../../images/ico_footer_01.png) no-repeat;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 1rem;
    right: 2rem;
}

footer .footer_info_wrapper a.btn_intro:after{
    content: '';
    background: url(../../images/ico_footer_02.png) no-repeat;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 1rem;
    right: 2rem;
}
.footer_details::after {
	content: var(--arrow_down);
}