<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
		<meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
		<link rel="stylesheet" type="text/css" href="./../static/css/header.css">
		<link rel="stylesheet" type="text/css" href="./../static/css/main.css">
		<script type="text/javascript" src="./../static/js/component/header/HeaderDefault.js"></script>
		<script type="text/javascript" src="./../static/js/component/MainLayout.js"></script>
	</head>
	<body>
		<header-default></header-default>
		<main-layout id="container">
			<div class="test1">test1</div>
			<div class="test2">test1</div>
			<div class="test3">test1</div>
			<div class="test4">test1</div>
		</main-layout>
	</body>
</html>