body{
    width: 100vw;
    height: 100vh;
    margin: 0;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
body::-webkit-scrollbar {
	   display: none;
}
#container{
	display: flex;
    height: 90%;
    width: inherit;
}
div.test1{
    width: 10%;
    background-color: aliceblue;
    height: 100%;
}
.test2{
	width: 40%;
    background-color: antiquewhite;
}
.test3{
	width: 100%;
    background-color: aqua;
}
.test4{
	width: 100%;
    background-color: aquamarine;
}